* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.caja1 {
    border: #eb02eb solid 2px;
    height: 400px;
}

.caja2 {
    border: #1202eb solid 2px;
    height: 80px;
}

.caja3 {
    background-color: #EB0202;
    height: 200px;
}

.caja4 {
    background-color: white;
    height: 80px;
}

.caja5 {
    border: #EB0202 solid 2px;
    height: 400px;
}

.caja6 {
    background-color: #5BEB02;
    height: 50px;
}
.caja7 {
    background-color: white;
    height: 80px;
}
.caja8 {
    border: #51ff00 solid 2px;
    height: 100px;
}
.caja9 {
    border: #EB0202 solid 2px;
    height: 200px;
}